/*==========[BLANKET STYLES]==========*/

* {
  box-sizing: border-box;
}

/*==========[BLANKET STYLES]==========*/



/*==========[START TV STYLES]==========*/

body {
  background-color: rgb(58, 88, 105);
  display: grid;
  grid-template: 'site-nav page-nav' 330px
                 'site-nav page-content' 1fr
                 / 240px 1200px;
  justify-content: center;
  height: 100vh;
}

/*==========[START SITE NAVIGATION STYLES]==========*/

.site-nav {
  background-color: rgb(40, 49, 64);
  grid-area: site-nav;

  display: grid;
  grid-template: 'profile-nav' 240px
                 'other-navs' 1fr
                 / 1fr;
}

.profile-nav {
  grid-area: profile-nav;
}

.other-navs {
  grid-area: other-navs;

  grid-template: 'main-nav' auto
                 'admin-nav' auto
                 'category-filter' auto
                 / 1fr;
  overflow: scroll;
}

.main-nav {
  grid-area: main-nav;
  height: 360px;
}

.admin-nav {
  grid-area: admin-nav;
  height: 360px;
}

.category-filter {
  grid-area: category-filter;
  height: 360px;
}

/*==========[END SITE NAVIGATION STYLES]==========*/

/*==========[START PAGE NAVIGATION STYLES]==========*/

.page-nav {
  background-color: rgb(255, 255, 255);
  grid-area: page-nav;

  grid-template: 'search-nav' auto
                 'page-header' auto
                 'content-tabs' auto
                 / 1fr;
}

.search-nav {
  grid-area: search-nav;
  height: 100px;
}

.page-header {
  grid-area: page-header;
  height: 180px;
}

.content-tabs {
  grid-area: content-tabs;
  height: 50px;
}

/*==========[END PAGE NAVIGATION STYLES]==========*/

/*==========[START PAGE CONTENT STYLES]==========*/

.page-content {
  background-color: rgb(231, 239, 244);
  grid-area: page-content;
  overflow: scroll;
}

/*==========[END PAGE CONTENT STYLES]==========*/

/*==========[END TV STYLES]==========*/



/*==========[START DESKTOP STYLES]==========*/

@media screen and (max-width: 1440px) {

  body {
    grid-template: 'site-nav page-nav' 330px
                   'site-nav page-content' 1fr
                   / 240px 1fr;
  }

}

/*==========[END DESKTOP STYLES]==========*/



/*==========[START TABLET STYLES]==========*/

@media screen and (max-width: 1000px) {

  body {
    grid-template: 'page-nav' 330px
                   'page-content' 1fr
                   / 1fr;
  }

  .site-nav {
    display: none;
  }

}

/*==========[END TABLET STYLES]==========*/



/*==========[START MOBILE STYLES]==========*/

@media screen and (max-width: 500px) {

  body {
    grid-template: 'page-nav' 1fr
                   'page-content' 3fr
                   / 1fr;
  }

}

/*==========[END MOBILE STYLES]==========*/



/*==========[EXTRA STYLE COMMENT TAGS]==========*/
/*==========[]==========*/
/*==========[]==========*/
/*==========[EXTRA STYLE COMMENT TAGS]==========*/