/*==========[BLANKET STYLES]==========*/

* {
  box-sizing: border-box;
}

/*==========[BLANKET STYLES]==========*/



/*==========[START TV STYLES]==========*/

body {
  background-color: rgb(58, 88, 105);
  display: grid;
  grid-template: 'siteNav pageNav' 330px
                 'siteNav pageContent' 1fr
                 / 240px 1200px;
  justify-content: center;
  height: 100vh;
}

.site-nav {
  background-color: rgb(40, 49, 64);
  grid-area: siteNav;
  overflow: scroll;
}

.page-nav {
  background-color: rgb(255, 255, 255);
  grid-area: pageNav;
}

.page-content {
  background-color: rgb(231, 239, 244);
  grid-area: pageContent;
  overflow: scroll;
}

/*==========[END TV STYLES]==========*/



/*==========[START DESKTOP STYLES]==========*/

@media screen and (max-width: 1440px) {

  body {
    grid-template: 'siteNav pageNav' 330px
                   'siteNav pageContent' 1fr
                   / 240px 1fr;
  }

}

/*==========[END DESKTOP STYLES]==========*/



/*==========[START TABLET STYLES]==========*/

@media screen and (max-width: 1000px) {

  body {
    grid-template: 'pageNav' 330px
                   'pageContent' 1fr
                   / 1fr;
  }

  .site-nav {
    display: none;
  }

}

/*==========[END TABLET STYLES]==========*/



/*==========[START MOBILE STYLES]==========*/

@media screen and (max-width: 500px) {

  body {
    grid-template: 'pageNav' 1fr
                   'pageContent' 3fr
                   / 1fr;
  }

}

/*==========[END MOBILE STYLES]==========*/



/*==========[EXTRA STYLE COMMENT TAGS]==========*/
/*==========[]==========*/
/*==========[]==========*/
/*==========[EXTRA STYLE COMMENT TAGS]==========*/